@import "default";

//FONT STYLES
$font-default: 'Helvetica Neue', 'Arial', sans-serif;
$font-default-2: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
$font-special: 'Permanent Marker', 'Brush Script MT', 'Arial', cursive;
$font-nav: 'Nothing You Could Do', 'Helvetica Neue', 'Arial', sans-serif;
//FONT SIZES
$size-h1: 120px;
$blog-title: 45px;
$size-h2: 24px;
$size-h3: 20px;
$size-p: 16px;
$size-small: 14px;
$size-tiny: 12px;
//FONT WEIGHTS
$heavy: 800;
$medium: 400;
$med-light: 300;
$light: 100;
$spacing: 1px;
$lh-basic: 1.75;

h2 {
	font-size: $size-h2;
}

.site-branding-hero {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(images/hero-2-bw.jpg);
	background-attachment: fixed;
	background-size: cover;
	margin: 0 auto;
	overflow: hidden;

	h1.site-title {
		position: absolute;
		top: 40%;
		width: 100%;
		text-align: center;
		font-family: $font-special;
		font-size: $size-h1;
		line-height: 1;
		transform: rotate(-20deg);
		display: none;   //display none on load
			a {
				color: #FFF;
				transition: color 0.2s;
				&:hover {
					color: #333;
				}
			}

	} // END h1.site-title
} // END site-branding-hero

.site-branding {
	width: 100%;
	height: 100px;
	background: url(images/hero-2.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

/*========================
NAVIGATION
=========================*/

nav {
	padding-top: 50px;
	transition: all 1s;

	.menu ul {
		margin: 20px 0 8px 0;

		  li {
		  	margin-right: 4px;

		  	&:nth-child(1) a {
		  		&:hover { background: red; }
		  	}
		  	&:nth-child(2) a {
		  		&:hover { background: gold; }
		  	}
		  	&:nth-child(3) a {
		  		&:hover { background: turquoise; }
		  	}
		  	&:nth-child(4) a {
		  		&:hover { background: salmon; }
		  	}
		  	&:nth-child(5) a {
		  		&:hover { background: blue; }
		  	}
		  	&:nth-child(6) a {
		  		&:hover { background: magenta; }
		  	}

		  	a {
			  	display: inline-block;
			  	width: 18px;
			  	height: 18px;
			  	border-radius: 50%;
					font-family: $font-default;
					font-size: 0;
					font-weight: $medium;
					color: #FFF;
					text-transform: uppercase;
					background: #FFF;
					transform: scale(0.7);
					transition: all 0.25s;

					&:hover {
						transform: scale(1);
					}
				}

		} // END li 		
	} // END menu.ul
} // END nav


span.label {
	width: 100px;
	height: 20px;
	margin-top: 0;
	font-size: 16px;
	color: #FFF;
	font-weight: $heavy;
	line-height: 1;
	display: none;
}


/*========================
MAIN PAGE GENERAL
=========================*/

.skills,
.portfolio,
.contact {
	width: 100%;
	float: left;
	clear: both;
}

.quote {
	width: 100%;
	height: 150px;
	text-align: center;
	color: #FFF;
	h2 {
		font-size: $size-h2;
	}
}

/*========================
MAIN PAGE - ABOUT
=========================*/

.about {
	position: relative;
	background: #FFF;
	height: 400px;
	overflow: hidden;
	opacity: 0;

	.about-img {
		position: absolute;
		right: -5%;
		top: -20%;
		width: 38.3%;
		// height: 100%;
		// border-radius: 50%;
		overflow: hidden;
		img {
			position: relative;
			right: 18%;
			width: 130%;
		}
	}
	.about-bio p {
		position: absolute;
		width: 50%;
		left: 9%;
		padding: 50px;
		margin: 0;
		font-size: 15px;
		line-height: $lh-basic;
		color: grey;
	}
}
.about-show {
	opacity: 1;
}

/*========================
MAIN PAGE - SKILLS
=========================*/

.skills {
	height: 100vh;

	.skills-item {
		width: 33.333%;
		height: 55vh;
		float: left;
		position: relative;
		text-align: center;
		overflow: hidden;

		&:nth-child(1) {
			background: #D1EBDD;
			p { padding: 50px 50px; }
			img {
				width: 60%;
				position: absolute;
				top: 11%;
				left: 20%;
			}
		}
		&:nth-child(2) {
			background: antiquewhite;
			img {
				width: 65%;
				position: absolute;
				top: 10%;
				left: 17%;
			}
		}
		&:nth-child(3) {
			background: #E3CACA;
		}
		.seethru {
			opacity: 0.3;
			transition: all 0.5s;
		}

		p {
			position: absolute;
			top: 5%;
			padding: 80px 50px;
			opacity: 0;
			font-size: $size-h3;
			color: #FFF;
			text-align: center;
			transition: all 0.5s;
		}
		.pSlide {
			top: 0;
			opacity: 1;
		}

		.arrow {
				position: absolute;
				width: 10%;
				bottom: 5%;
				left: 44%;

			.shape {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 23px 23px 23px;
				border-color: transparent transparent rgba(255,255,255,0.75) transparent;
				transition: all 0.2s;

					&:hover {
						border-color: transparent transparent rgba(255,0,0,0.35) transparent;
						cursor: pointer;
					}
			}
			.rotate {
				border-width: 23px 23px 0 23px;
				border-color: rgba(255,0,0,0.35) transparent transparent transparent;
				&:hover {
					border-color: rgba(255,255,255,0.75) transparent transparent transparent;
				}
			}
			
			h4 {
				font-size: 11px;
				font-weight: $heavy;
				color: #FFF;
				padding: 7px 0 0 8px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}
	.skills-footer {
		height: 45vh;
		width: 100%;
		float: left;
		background: none;
		text-align: center;

		p {
			position: relative;
			top: 15%;
			font-size: $size-h2;
			color: #FFF;
			text-align: center;
		}
		svg {
			width: 250px;
			margin-top: 40px;
			polygon{
				fill: none;
				stroke: #FFF;
				stroke-weight: 5px;
			}
			&:hover {
				cursor: pointer;
				polygon {
					fill: #FFF;
				}
			}
		}
	}
}

/*========================
MAIN PAGE - PORTFOLIO
=========================*/

.portfolio {
	width: 100%;
	background: #FFF;

	.portfolio-header {
		width: 100%;
		height: 150px;
		background: peachpuff;
		h2 {
			font-size: $blog-title;
			text-align: center;
			color: #FFF;
		}
	}

	.port-item {
		position: relative;
		width: 100%;
		// float: left;

		.big {
			position: relative;
			height: 150px;
			background-size: cover;
			background-position: center;
			transition: all 0.5s;
			overflow: hidden;

			img {
				width: 50%;
				float: left;
			}
			//DEMO LINK BUTTON
			a {
				position: absolute;
				left: 19%;
				top: 360px;
				border: 1px solid #000;
				padding: 5px 10px;
				border-radius: 6px;
				cursor: pointer;
				transition: all 0.25s;
				&:hover {
					border: 1px solid #666;
					background: #666;
					color: #FFF;
				}
			}

			.project-text {
				float: left;
				width: 50%;
				height: 100%;
				padding: 30px 50px;
				font-size: $size-small;
				line-height: $lh-basic;
				transition: all 0.5s;

				.item-name {
					font-size: $size-h3;
				}
			}
			.showProject {
				opacity: 1;
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #B2B5BF;
				border-bottom: 1px solid rgba(255,255,255,0.3);
				font-weight: $heavy;
				text-align: center;
				cursor: pointer;
				transition: all 0.25s;

					h3 {
						position: absolute;
						width: 100%;
						top: 30%;
						font-size: $size-h3;		
						color: #FFF;			
					}
					p {
						position: absolute;
						width: 100%;
						top: 55%;
						font-size: $size-p;
						text-align: center;
						color: #FFF;
					}
					//PROJECT LABEL - CLOSE
					p.close-me {
						margin-top: -12px;
						padding-right: 20px;
						font-weight: $medium;
						text-align: right;
						color: #B2B5BF;
						opacity: 0;
						&:hover {
							color: #FFF;
						}
					}

					p.showLabels {
						opacity: 1;
					}
					.hideLabels {
						opacity: 0;
					}			
			}
			.moveAway {
				height: 10%;
				width: 100%;
				top: 90%;
				left: 0%;
				background: #FFF;
				color: #000;
			}
		}

		.expand {
			height: 500px;
		}

		#burp .big {
			.project-text { background: #FFDDC0; }	
			.overlay {
				
					&:hover { background: #FFDDC0; }
				}
		}
		#blarg .big {

			.project-text { background: #C9E1DC; }	
			.overlay {

					&:hover { background: #C9E1DC; }
				}
		}
		#beep .big {
			.project-text { background: #C1D8E3; }	
			.overlay {

					&:hover { background: #C1D8E3;}
				}
		}
		#photo-gallery-story .big {
			.project-text { background: #DEDEDE; }	
			.overlay {

					&:hover { background: #DEDEDE;}
				}
		}
		#weather-ttc-api .big {
			.project-text { background: #E3CACA; }	
			.overlay {

				 &:hover { background: #E3CACA;}
				}
		}
		#wordpress-website .big {
			.project-text { background: #CAD0E3; }	
			.overlay {

					&:hover { background: #CAD0E3; }
				}
		}

	}
}

/* ========================
CONTACT STYLES
===========================*/

.contact {
	height: 350px;
	text-align: center;
	clear: both;
	svg {
		width: 35px;

		path, polygon, rect {
			fill: #FFF;
		}
	}
	svg.logo {
		width: 35px;
	}
}

/* ========================
MAIN PAGE ENTRY STYLES
===========================*/

//PORTFOLIO - SINGLE PAGE
article.portfolio.hentry {
	background: #FFF;
	.single-image {
		width: 50%;
	}
}

article.hentry  {
	background: #DEDEDE;
	transition: all 0.5s;

		.entry-content {
			margin: 0;
		}
		.entry-meta {
			padding: 30px 50px 0 50px;
			font-weight: $heavy;
		}
		footer.entry-footer {
			padding: 30px 50px;
			background: #FFF;
			font-size: $size-p;

				.comments-link a, .edit-link a {
					padding: 0 15px;
				}
		}
}

/*===================
BLOG STYLES
=====================*/

.page-title {
	font-size: $blog-title;
	color: salmon;
}

article.blog-index  {
	background: #DEDEDE;
	width: 30%;
	height: 330px;
	margin: 1%;
	float: left;

		h1.entry-title {
			font-size: $blog-title;
			padding: 10px;
			background: white;
		}
		.entry-content {
			padding: 10px;
		}
		.entry-meta {
			padding: 10px;
			font-weight: $heavy;
		}
		footer.entry-footer {
			padding: 0;
			font-size: $size-p;

				.comments-link a, .edit-link a {
					padding: 0 15px;
				}
		}
}

article.post-24 {
	clear: both;
}

.content-area-single {
	width: 75%;
	float: left;
	margin: 0;
}

		article.blog-single {
			margin: 0;

				h1.entry-title {
					font-size: $blog-title;
					padding-left: 20px;
				}

				.entry-meta-single {
					padding-left: 20px;
					font-weight: $heavy;
				}
				.entry-content-single {
					padding: 20px;
				}
				footer.entry-footer-single {
					padding: 30px 50px;
					background: #FFF;
					font-size: $size-p;
					clear: both;
					// border-bottom-right-radius: 30px;

						.comments-link a, .edit-link a {
							padding: 0 15px;
						}
				}
		}

.widget-area {
	width: 20%;
	float: left;
}

/*===================
FOOTERS
=====================*/

.entry-footer-home {
	display: none;
}

.site-info {
	background: none;
	clear: both;
}







