@import "default";

//FONT STYLES
$font-default: 'Helvetica Neue', 'Arial', sans-serif;
$optima: 'Optima', 'Helvetica Neue', 'Arial', sans-serif;
$font-special: 'Permanent Marker', 'Brush Script MT', 'Arial', cursive;
$font-serif: "Didot", "Didot LT STD", "Hoefler Text", "Garamond", "Times New Roman", serif;
//FONT SIZES
$size-h1: 130px;
$blog-title: 45px;
$size-h2: 24px;
$size-h3: 20px;
$size-p: 16px;
$size-small: 14px;
$size-tiny: 12px;
//FONT WEIGHTS
$heavy: 800;
$medium: 400;
$med-light: 300;
$light: 100;
$spacing: 1px;
$spacing-mid: 3px;
$lh-basic: 1.75;

@mixin arrow($bwidth:10px, $bcolor: #000) {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 $bwidth $bwidth $bwidth;
		border-color: transparent transparent $bcolor transparent;
}

body {
	font-family: $font-default;
}

h2 {
	font-size: $size-h2;
}

.site-branding-hero {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(images/hero-2-bw.jpg);
	background-attachment: fixed;
	background-size: cover;
	margin: 0 auto;
	overflow: hidden;

	h1.site-title {
		position: absolute;
		top: 34%;
		left: -3%;
		width: 100%;
		text-align: center;
		font-family: $font-special;
		font-size: $size-h1;
		line-height: 1;
		transform: rotate(-15deg);
		display: none;   //display none on load

			a {
				color: #FFF;
				transition: color 0.2s;
				&:hover {
					color: #333;
				}
			}

	} // END h1.site-title
} // END site-branding-hero

h2.caption {
	position: absolute;
	top: 85vh;
	left: 42%;
	display: inline-block;
	font-family: $font-default;
	font-weight: $light;
	letter-spacing: $spacing;
	color: grey;
}

.site-branding {
	width: 100%;
	height: 100px;
	background: url(images/hero-2.jpg);
	background-size: 100%;
	background-attachment: fixed;
}


@media (max-width: 940px) {
	.site-branding-hero {
		h1.site-title {
			left: 2%;		
		}
	}
}

@media (max-width: 490px) {
	.site-branding-hero {
		h1.site-title {
			font-size: 100px;
			left: 2%;		
		}
	}
	h2.caption {
		left: 30%;
	}
}

/*========================
NAVIGATION
=========================*/

nav {
	padding-top: 50px;
	transition: all 1s;

	.menu ul {
		margin: 20px 0 8px 0;

		  li {
		  	margin-right: 4px;

		  	&:nth-child(1) a {
		  		&:hover { background: red !important; }
		  	}
		  	&:nth-child(2) a {
		  		&:hover { background: gold !important; }
		  	}
		  	&:nth-child(3) a {
		  		&:hover { background: turquoise !important; }
		  	}
		  	&:nth-child(4) a {
		  		&:hover { background: salmon !important; }
		  	}
		  	&:nth-child(5) a {
		  		&:hover { background: blue !important; }
		  	}
		  	&:nth-child(6) a {
		  		&:hover { background: magenta !important; }
		  	}

		  	a {
			  	display: inline-block;
			  	width: 18px;
			  	height: 18px;
			  	border-radius: 50%;
					font-family: $font-default;
					font-size: 0;
					font-weight: $medium;
					color: #FFF;
					text-transform: uppercase;
					background: #FFF;
					transform: scale(0.7);
					transition: all 0.25s;

					&:hover {
						transform: scale(1);
					}
				}
				a.is-selected {
					background: #000;
				}

		} // END li 		
	} // END .menu ul
} // END nav


span.label {
	width: 100px;
	height: 20px;
	margin-top: 0;
	font-size: 16px;
	color: #FFF;
	font-weight: $heavy;
	line-height: 1;
	display: none;
}

/* ----------------------------
NAVIGATION - MEDIA QUERY 768px
------------------------------- */

@media (max-width: 768px) {
	nav {
		.menu ul {
			  li {
			  	&:nth-child(1) a { background: red !important; }

			  	&:nth-child(2) a { background: gold !important; }

			  	&:nth-child(3) a { background: turquoise !important; }

			  	&:nth-child(4) a { background: salmon !important; }

			  	&:nth-child(5) a { background: blue !important; }

			  	&:nth-child(6) a { background: magenta !important; }

			  	a { color: #000; }

			} // END li
		} // END .menu ul
	} // END nav
	
} // END MEDIA QUERY FOR NAV - 768px

/* ----------------------------
NAVIGATION - MEDIA QUERY 768px
------------------------------- */

@media (max-width: 768px) {
	.main-navigation {
		position: fixed;
		width: 14%;
		top: -12px;
		left: 85%;
		clear: both;
		padding: 0;
		margin: 0 auto;
		z-index: 999;
	}
	nav {
		.menu ul {
			  li {
			  	&:nth-child(1) a { background: red !important; }

			  	&:nth-child(2) a { background: gold !important; }

			  	&:nth-child(3) a { background: turquoise !important; }

			  	&:nth-child(4) a { background: salmon !important; }

			  	&:nth-child(5) a { background: blue !important; }

			  	&:nth-child(6) a { background: magenta !important; }

			  	a { color: #000; }

			} // END li
		} // END .menu ul
	} // END nav
	
} // END MEDIA QUERY FOR NAV - 768px


/*========================
MAIN PAGE GENERAL
=========================*/

.skills,
.portfolio,
.contact {
	width: 100%;
	float: left;
	clear: both;
}

.quote {
	width: 100%;
	height: 150px;
	text-align: center;
	color: #FFF;
	h2 {
		padding: 55px;
		font-family: $optima;
		font-size: 22px;
		font-style: italic;
		letter-spacing: $spacing;
	}
}

/*========================
MAIN PAGE - ABOUT
=========================*/

.about {
	position: relative;
	background: #FFF;
	height: 450px;
	overflow: hidden;

	.about-img {
		position: absolute;
		right: -5%;
		top: -20%;
		width: 38.3%;
		// height: 100%;
		// border-radius: 50%;
		overflow: hidden;
		img {
			position: relative;
			right: 18%;
			width: 130%;
			
		}
	} // END about-img
	.about-bio p {
		position: absolute;
		width: 33.33%;
		left: 33.33%;
		padding: 50px;
		margin: 0;
		font-family: $optima;
		font-size: 15px;
		font-weight: 100;
		line-height: $lh-basic;
		color: grey;
	} // END about-bio p
	
		.about-left {
			position: absolute;
			width: 33.33%;
			height: 100%;
			left: 0;
			padding: 105px 50px;
			background: #C3D6D1;

			p {
				font-family: $optima;
				font-size: $size-h2;
				letter-spacing: $spacing;
				text-align: center;
				color: #FFF;
			}
		} // END about-left
	.about-show {
		opacity: 1;
	}
} // END ABOUT SECTION

/* ---------------------------
ABOUT - MEDIA QUERY FOR 940px
------------------------------*/ 
@media (max-width: 940px) {
	.about {
		height: 100vh;

		.about-img {
			width: 50%;
			top: 20%;
		} 
		.about-bio p {
			width: 50%;
			top: 20%;
			left: 0%;
			font-size: 14px;
		} 
		
		.about-left {
			width: 100%;
			height: 20%;
			padding: 35px 50px;
			left: 0;

			p {
				font-size: $size-h3;
			}
		} // END about-left
	} // END ABOUT SECTION
}
// END MEDIA QUERY FOR 940px //

/* ---------------------------
ABOUT - MEDIA QUERY FOR 768px
------------------------------*/ 
@media (max-width: 768px) {

	.quote {
		height: 0;
	}
	.about {
		height: 100vh;

		.about-img {
			position: absolute;
			width: 55%;
			top: 25%;
			img {
				position: relative;
				right: 0%;
				width: 100%;
				border-radius: 50%;
			}
		} 
		.about-bio p {
			width: 50%;
			top: 20%;
			left: 0%;
			font-size: 15px;
			line-height: 2;
		} 
		
		.about-left {
			width: 100%;
			height: 20%;
			padding: 35px 50px;
			left: 0;

			p {
				font-size: $size-h3;
			}
		} // END about-left
	} // END ABOUT SECTION

}
// END MEDIA QUERY FOR 768px //

/* ---------------------------
ABOUT - MEDIA QUERY FOR 490px
------------------------------*/ 
@media (max-width: 490px) {

	.quote { height: 0; }

	.about {
		height: 100%;

		.about-img {
			position: static;
			width: 95%;
			margin: 35px 23px 0 23px;
			img {
				position: relative;
				right: 0%;
				width: 95%;
				border-radius: 50%;
			}
		} 
		.about-bio p {
			position: static;
			width: 100%;
			font-size: 15px;
			line-height: 2;
		} 
		
		.about-left {
			position: static;
			width: 100%;
			height: 20%;
			padding: 28px 50px;
			left: 0;

			p {
				font-size: 18px;
			}
		} // END about-left
	} // END ABOUT SECTION

}
// END MEDIA QUERY FOR 490px //

/*========================
MAIN PAGE - SKILLS
=========================*/

.skills {
	height: 100vh;

	.skills-item {
		width: 33.333%;
		height: 55vh;
		margin: 0 auto;
		float: left;
		position: relative;
		text-align: center;
		transition: background 0.2s;
		line-height: 1.75;
		letter-spacing: $spacing;
		overflow: hidden;


		&:nth-child(1) {
			// position: relative;
			background: #C4C4C4;
			p { 
				width: 100%;
				font-weight: $heavy;
				span {
					font-family: $optima;
					font-size: $size-h2;
					font-weight: $medium;
					text-transform: uppercase;
				}
			}
			img {
				width: 60%;
				position: absolute;
				top: 11%;
				left: 20%;
			}
			&:hover { background: moccasin; }
		}
		&:nth-child(2) {
			background: #B0B0B0;
			p { 
				width: 100%;
				text-align: center;
				font-weight: $heavy;
				span {
					font-family: $optima;
					font-size: $size-h2;
					font-weight: $medium;
					text-transform: uppercase;
				}
			}
			img {
				width: 65%;
				position: absolute;
				top: 10%;
				left: 17%;
			}
			&:hover { background: peachpuff; }
		}
		&:nth-child(3) {
			background: #D4D4D4;
			p { 
				width: 100%;
				text-align: center;
				font-weight: $heavy;
				span {
					font-family: $optima;
					font-size: $size-h2;
					font-weight: $medium;
					text-transform: uppercase;
				}
			}
			img {
				width: 45%;
				position: absolute;
				top: 18%;
				left: 27%;
			}
			&:hover { background: lightsalmon;}
		}
		.seethru {
			opacity: 0.3;
			transition: all 0.5s;
		}

		p {
			position: absolute;
			top: 5%;
			padding: 50px;
			font-size: $size-h3;
			font-weight: $heavy;
			color: #FFF;
			text-align: center;
			opacity: 0;
			transition: all 0.5s;
		}
		.pSlide {
			top: 0;
			opacity: 1;
		}

		.arrow {
				position: absolute;
				width: 10%;
				bottom: 5%;
				left: 44%;

			.shape {
				@include arrow(23px, rgba(255,255,255,0.75));
				transition: all 0.2s;

					&:hover {
						border-color: transparent transparent rgba(255,0,0,0.35) transparent;
						cursor: pointer;
					}
			}
			.rotate {
				border-width: 23px 23px 0 23px;
				border-color: rgba(255,0,0,0.35) transparent transparent transparent;
				&:hover {
					border-color: rgba(255,255,255,0.75) transparent transparent transparent;
				}
			}
			
			h4 {
				font-size: 11px;
				font-weight: $heavy;
				color: #FFF;
				padding: 7px 0 0 8px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		} // END .arrow
	} // END SKILLS ITEM

	.skills-footer {
		height: 45vh;
		width: 100%;
		float: left;
		// background: #CAD5E0;
		background: url(images/desk-2-bw.jpg);
		background-size: 100%;
		text-align: center;

		p {
			position: relative;
			top: 15%;
			font-family: $optima;
			font-size: 30px;
			color: #B0B0B0;
			text-align: center;
		}
		svg {
			width: 250px;
			margin-top: 40px;
			polygon{
				fill: none;
				stroke: #B0B0B0;
				stroke-weight: 5px;
			}
			&:hover {
				cursor: pointer;
				polygon {
					stroke: salmon;
					fill: salmon;
				}
			} 
		} // END SVG ARROW STYLING

	} // END SKILLS FOOTER

} // END SKILLS SECTION

/* ---------------------------
SKILLS - MEDIA QUERY FOR 768px
------------------------------*/ 

@media (max-width: 768px) {

	.skills {
		.skills-item {
			p { padding: 50px 50px; }
			line-height: 1.5;

			&:nth-child(1) {
				background: moccasin;
				img {
					width: 60%;
					position: absolute;
					top: 11%;
					left: 20%;
				}
			}
			&:nth-child(2) {
				background: peachpuff;
				img {
					width: 65%;
					position: absolute;
					top: 10%;
					left: 17%;
				}
			}
			&:nth-child(3) {
				background: lightsalmon;
				img {
					width: 45%;
					position: absolute;
					top: 18%;
					left: 27%;
				}
			}
			p {
				//place text styles in here
			}
					.arrow {
							left: 41%;
					} // END .arrow
		} // END SKILLS ITEM
	} // END SKILLS SECTION

} // END MEDIA QUERY 768px

/* ---------------------------
SKILLS - MEDIA QUERY FOR 490px
------------------------------*/ 
@media (max-width: 490px) {

	.skills {

		height: 100%;

		.skills-item {
			width: 100%;
			height: 500px;
			margin: 0 auto;

			p {
			 padding: 50px 50px;
			}

			&:nth-child(1) {
				background: moccasin;
				img {
					width: 86%;
					position: absolute;
					top: 0%;
					left: 8%;
				}
			}
			&:nth-child(2) {
				background: peachpuff;
				img {
					width: 75%;
					position: absolute;
					top: 5%;
					left: 13%;
				}
			}
			&:nth-child(3) {
				background: lightsalmon;
				img {
					width: 55%;
					position: absolute;
					top: 15%;
					left: 23%;
				}
			}
			p {
				//place text styles in here
			}
			.arrow {
				position: absolute;
				width: 10%;
				bottom: 5%;
				left: 41%;

				.shape {
					@include arrow(50px, rgba(255,255,255,0.75));
					transition: all 0.2s;
				}
				.rotate {
					border-width: 50px 50px 0 50px;
					border-color: rgba(255,255,255,0.75) transparent transparent transparent;
				}
				
				h4 {
					font-size: $size-p;
					font-weight: $heavy;
					color: #FFF;
					padding: 7px 0 0 28px;
					letter-spacing: 1px;
					text-transform: uppercase;
				}
			} // END .arrow
		} // END SKILLS ITEM

		.skills-footer {
			background: #FFF;

				svg {
					width: 250px;
					margin-top: 40px;
					polygon{
						fill: salmon;
						stroke: salmon;
						stroke-weight: 5px;
					}
				} 
			} // END SVG ARROW STYLING

	} // END SKILLS SECTION

} // END MEDIA QUERY 490px



/*========================
MAIN PAGE - PORTFOLIO
=========================*/

.portfolio {
	width: 100%;
	background: #FFF;

	.port-item {
		position: relative;
		width: 100%;
		// float: left;

		.big {
			position: relative;
			height: 150px;
			background-size: cover;
			background-position: center;
			transition: all 0.5s;
			overflow: hidden;

			.demoWrap {
				width: 100%;

				img {
					width: 50%;
					float: left;
				}
				//DEMO LINK BUTTON
				a {
					position: absolute;
					left: 19%;
					top: 360px;
					border: 1px solid #000;
					padding: 5px 10px;
					border-radius: 6px;
					cursor: pointer;
					transition: all 0.25s;
					&:hover {
						border: 1px solid #666;
						background: #666;
						color: #FFF;
					}
				}
			}

			.project-text {
				float: left;
				width: 50%;
				height: 100%;
				padding: 30px 60px;
				font-family: $optima;
				font-size: $size-p;
				line-height: $lh-basic;
				letter-spacing: 0.5px;
				transition: all 0.5s;

				.item-name {
					font-size: $size-h3;
				}
			}
			.showProject {
				opacity: 1;
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #B2B5BF;
				border-bottom: 1px solid rgba(255,255,255,0.3);
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				font-weight: $medium;
				text-align: center;
				cursor: pointer;
				transition: all 0.5s;

					h3 {
						position: absolute;
						width: 100%;
						top: 30%;
						font-family: $optima;
						font-size: $size-h2;
						letter-spacing: $spacing;		
						color: #FFF;			
					}
					p {
						position: absolute;
						width: 100%;
						top: 55%;
						font-size: $size-p;
						font-weight: $light;
						letter-spacing: $spacing-mid;
						text-align: center;
						color: #FFF;
					}
					//PROJECT LABEL - CLOSE
					p.close-me {
						margin-top: -12px;
						text-align: center;
						font-weight: $medium;
						color: rgba(0,0,0,0.1);
						opacity: 0;
					}

					p.showLabels {
						opacity: 1;
					}
					.hideLabels {
						opacity: 0;
					}

					p.arrowlabel {
						position: absolute;
						left: 23%;
						top: 25%;
						font-weight: $medium;
						color: rgba(0,0,0,0.1);
						opacity: 1;
					}
					p.arrowlabel-2 {
						position: absolute;
						right: 23%;
						top: 25%;
						font-weight: $medium;
						color: rgba(0,0,0,0.1);
						opacity: 1;
					}
					p.hideExpand {
						opacity: 0;
					}

					.openWrap {
							position: absolute;
							top: 45%;
							left: 25%;
							transform: rotate(180deg);

							.open-arrow {
								@include arrow(25px, rgba(0,0,0,0.1));			
							}	
					}
					.openWrap2 {
							position: absolute;
							top: 45%;
							right: 25%;
							transform: rotate(180deg);

							.open-arrow-2 {
								@include arrow(25px, rgba(0,0,0,0.1));
							}						
					}
					// Changes direction of arrows when project is open
					.direction {
						transform: rotate(360deg);
					}	
			} // END OVERLAY SECTION

			.moveAway {
				height: 10%;
				width: 100%;
				top: 90%;
				left: 0%;
				background: #FFF;
				color: #000;
			}
		} // END .BIG CONTAINER

		.expand { height: 500px; }

		#burp .big {
			.project-text { background: #C9E1DC; }	
			.overlay {
				
					&:hover { background: #C9E1DC; }
				}
		}
		#blarg .big {

			.project-text { background: #FFDDC0; }	
			.overlay {

					&:hover { background: #FFDDC0; }
				}
		}
		#beep .big {
			.project-text { background: #C1D8E3; }	
			.overlay {

					&:hover { background: #C1D8E3; }
				}
		}
		#photo-gallery-story .big {
			.project-text { background: #DEDEDE; }	
			.overlay {

					&:hover { background: #DEDEDE; }
				}
		}
		#weather-ttc-api .big {
			.project-text { background: #E3CACA; }	
			.overlay {

				 &:hover { background: #E3CACA; }
				}
		}
		#wordpress-website .big {
			.project-text { background: #CAD0E3; }	
			.overlay {

					&:hover { background: #CAD0E3; }
				}
		}

	} // END PORTFOLIO ITEM
} // END PORTFOLIO SECTION

/* ----------------------------------
PORTFOLIO - MEDIA QUERY FOR 940px
-------------------------------------*/

@media (max-width: 940px) {
		.portfolio {
			width: 100%;
			background: #FFF;

			.port-item {
				.big {
					.demoWrap {

						img {
							width: 50%;
							float: left;
						}
						a { left: 16%; }
					}

						.project-text {
							float: left;
							width: 50%;
							height: 100%;
							padding: 30px 60px;
							font-family: $optima;
							font-size: $size-small;

							.item-name { font-size: 18px; }
						}

				} // END .big
			} // END .port-item
		} // END .porfolio
}
// END MEDIA QUERY FOR 940px //

/*-------------------------------------
PORTFOLIO - MEDIA QUERY FOR 490px
---------------------------------------*/

@media (max-width: 490px) {

	.portfolio {
		width: 100%;
		background: #FFF;

		.port-item {

			.big {
				.demoWrap {
					height: 100%;
					padding: 40px 0;

					img {
						width: 100%;
						float: left;
					}
					a { 
						position: static;
						margin-left: 155px;
					}
				}

				.project-text {
					width: 100%;
					height: 100%;
					float: left;
					padding: 40px 50px 100px 50px;
					font-family: $optima;
					font-size: $size-small;

					.item-name { font-size: 18px; }
				}
				.overlay {
					p.arrowlabel { left: 35%; }
					p.arrowlabel-2 { right: 35%; }
					p.hideExpand { opacity: 0; }
					.openWrap {
						left: 10%;

						.open-arrow { @include arrow(25px, rgba(0,0,0,0.1)); }	
					}

				.openWrap2 {
					right: 10%;
					.open-arrow-2 { @include arrow(25px, rgba(0,0,0,0.1)); }						
					}
				}
				.moveAway {
					height: 5%;
					top: 95%;
				}

			} // END .big
			.expand {
				height: 100%;
			}
			#burp .big {
				.overlay { background: #C9E1DC; }
			}
			#blarg .big {
				.overlay { background: #FFDDC0; }
			}
			#beep .big {				
				.overlay { background: #C1D8E3; }
			}
			#photo-gallery-story .big {
				.overlay { background: #DEDEDE; }
			}
			#weather-ttc-api .big {
				.overlay { background: #E3CACA; }
			}
			#wordpress-website .big {
				.overlay { background: #CAD0E3; }
			}

		} // END .port-item
	} // END .porfolio

} // END MEDIA QUERY FOR 490px

/* ========================
CONTACT STYLES
===========================*/

.contact {
	height: 100vh;
	padding: 0;
	text-align: center;
	background: url(images/hero-2-bw.jpg);
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	clear: both;

	.icon-header {
		width: 100%;
		background: none;
		text-align: center;

		h2 {
			padding: 20px 0;
			font-family: $optima;
			font-weight: $heavy;
			font-size: $size-h2;
			color: #FFF;
		}

		svg {
			width: 50px;

			path, polygon, rect {
				fill: #FFF;
			}
			&:hover path, rect, polygon {
				fill: sandybrown;
			}
		}
		// CODEPEN ICON SIZING
		svg.smaller {
			width: 45px;
			height: 45px;
		}
	}

	.formWrap {
		width: 100%;
		padding-left: 0%;

		form.wpcf7-form {
			width: 60%;
			padding: 20px 0;
			margin: 0 auto;
			border-radius: 5px;
			font-size: 14px;
			background:none;
		}

		input.firstName,
		input.lastName,
		input.email,
		textarea.message {
			display:block;
			width: 100%;
			color:#FFF;
			font-weight: $light;
			letter-spacing: $spacing;
			margin:0 0 20px 0;
			padding:8px;
			border: 2px solid #FFF;
			border-radius: 5px;
			background:none;
				&:focus {
					border-color: #FFF;
					background: rgba(0,0,0,0.5);
					box-shadow: none;
					outline:none;
				}
		}
		.submit {
			display:block;
			width: 50%;
			margin: 0 auto;
			padding:10px 0;
			font-size: 16px;
			font-weight: 200;
			color:#e3e3e3;
			text-transform: uppercase;
			background: rgba(0,0,0,0.25);
			border: 1px solid rgba(0,0,0,0.1);
			border-radius: 3px;
				&:hover {
					background:rgba(255,255,255,0.65);
					border: 1px solid rgba(255,255,255,0.1);			
					color:#333;
				}	
		}
	}
}

/* ----------------------------
CONTACT - MEDIA QUERY 490px
----------------------------- */

@media (max-width: 490px) {

	.contact {

		.icon-header {

			h2 { color: #FFF; }

			svg {
				width: 50px;

				path, polygon, rect { fill: #FFF; }
			}
			// CODEPEN ICON SIZING
			svg.smaller {
				width: 45px;
				height: 45px;
			}
		}

		.formWrap {
			padding-left: 0%;

			form.wpcf7-form {
				width: 75%;
			}

			input.firstName,
			input.lastName,
			input.email,
			textarea.message {

				color: #FFF;
				border-color: #FFF;
				padding: 5px;
				font-size: $size-p;
				font-weight: $medium;
				letter-spacing: $spacing;

					&:focus {
						border-color: grey;
						background: rgba(0,0,0,0.4);
					}
			}
		}
	} // END CONTACT SECTION

} // END MEDIA QUERY

/* ========================
MAIN PAGE ENTRY STYLES
===========================*/

//PORTFOLIO - SINGLE PAGE
article.portfolio.hentry {
	background: #FFF;
	.single-image {
		width: 50%;
	}
}

article.hentry  {
	background: #DEDEDE;
	transition: all 0.5s;

		.entry-content {
			margin: 0;
		}
		.entry-meta {
			padding: 30px 50px 0 50px;
			font-weight: $heavy;
		}
		footer.entry-footer {
			padding: 30px 50px;
			background: #FFF;
			font-size: $size-p;

				.comments-link a, .edit-link a {
					padding: 0 15px;
				}
		}
}

/*===================
BLOG STYLES
=====================*/

.page-title {
	font-size: $blog-title;
	color: salmon;
}

article.blog-index  {
	background: #DEDEDE;
	width: 30%;
	height: 330px;
	margin: 1%;
	float: left;

		h1.entry-title {
			font-size: $blog-title;
			padding: 10px;
			background: white;
		}
		.entry-content {
			padding: 10px;
		}
		.entry-meta {
			padding: 10px;
			font-weight: $heavy;
		}
		footer.entry-footer {
			padding: 0;
			font-size: $size-p;

				.comments-link a, .edit-link a {
					padding: 0 15px;
				}
		}
}

article.post-24 {
	clear: both;
}

.content-area-single {
	width: 75%;
	float: left;
	margin: 0;
}

		article.blog-single {
			margin: 0;

				h1.entry-title {
					font-size: $blog-title;
					padding-left: 20px;
				}

				.entry-meta-single {
					padding-left: 20px;
					font-weight: $heavy;
				}
				.entry-content-single {
					padding: 20px;
				}
				footer.entry-footer-single {
					padding: 30px 50px;
					background: #FFF;
					font-size: $size-p;
					clear: both;
					// border-bottom-right-radius: 30px;

						.comments-link a, .edit-link a {
							padding: 0 15px;
						}
				}
		}

.widget-area {
	width: 20%;
	float: left;
}

/*===================
FOOTERS
=====================*/

.entry-footer-home {
	display: none;
}

.site-info {
	background: none;
	clear: both;
}








